<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'home' %}">Календарь Панчанги</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'home' %}">Карта рождения</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'home' %}">Нумерология</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'home' %}">Хиромантия</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
